

{% extends "base.html" %}

{% block content %}
    <h2>Reset Password</h2>

    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <label for="id_username">Username:</label>
        {{ form.username }}

        <label for="id_new_password">Enter New Password:</label>
        {{ form.new_password }}

        <label for="id_confirm_password">Confirm Password:</label>
        {{ form.confirm_password }}

        <button type="submit">Change Password</button>
    </form>
{% endblock %}
